@page "/datenverwaltung"
@using Glücksrad.Data
@inject NavigationManager navman
@inject FirebaseService firebase

@if (firebase.eingeloggt)
{
    <div class="row text-right">
        <div class="col-10"></div>
        <div class="col-2">
            <button class="btn btn-danger" onclick="@abmelden">Abmelden</button>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h1>Phrasen</h1>
        </div>
    </div>
    <Popup @ref="popupBearbeitung"/>
    @if (allePhrasen != null)
    {
        <div class="übersicht">
            <table class="table">
                <thead>
                    <tr>
                        <th>Phrase</th>
                        <th>Kategory</th>
                        <th>Löschen</th>
                        <th>Bearbeiten</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Phrase phrase in allePhrasen)
                    {
                        <tr>
                            <td>@phrase.phrase</td>
                            <td>@phrase.kategorie</td>
                            <td><button class="btn btn-danger" @onclick="() => phraseLöschen(phrase)">🗑</button></td>
                            <td><button class="btn btn-success" @onclick="() => phraseBearbeiten(phrase)">✎</button></td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>Loading words...</p>
    }

    <div class="row my-5">
        <div class="col">
            <input type="text" @bind="@neuePhrase" placeholder="Neues Wort" class="form-control" />
        </div>
        <div class="col">
            <input type="text" @bind="@kategorieFürNeuePhrase" placeholder="Kategorie für Wort" class="form-control" />
        </div>
        <div class="col">
            <button class="btn btn-success" onclick="@phraseHinzufügen">+</button>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-10">
            <h1>Highscores</h1>
        </div>
    </div>
    @if (alleHighscores != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Spieler</th>
                    <th>Kontostand</th>
                    <th>Runden</th>
                    <th>Zeitpunkt</th>
                    <th>Löschen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Spieler highscore in alleHighscores)
                {
                    <tr>
                        <td>@highscore.name</td>
                        <td>@highscore.kontostand</td>
                        <td>@highscore.runden</td>
                        <td>@highscore.zeitpunkt</td>
                        <td><button class="btn btn-danger" @onclick="() => highscoreLöschen(highscore)">🗑</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Loading scores...</p>
    }
}
else
{
    <form class="container" id="admin-login">
        <h1>Adminlogin</h1>
        <input type="text" class="form-control" placeholder="Benutzername" @bind="@benutzername" /><br />
        <input type="password" class="form-control" placeholder="Passwort" @bind="@passwort" /><br />
        <button onclick="@anmelden" class="btn btn-dark">Anmelden</button>
    </form>
}



@code {
    string bearbeitetesWort = "";
    string bearbeiteteKategorie = "";
    List<Spieler> alleHighscores;
    List<Phrase> allePhrasen;
    Popup popupBearbeitung;

    private string benutzername = "";
    private string passwort = "";

    public string neuePhrase { get; set; }
    public string kategorieFürNeuePhrase { get; set; }

    private async void anmelden()
    {
        if(await firebase.loginÜberprüfung(benutzername, passwort))
        {
            firebase.eingeloggt = true;

        }
    }

    private void abmelden()
    {
        firebase.eingeloggt = false;
    }

    private void phraseHinzufügen()
    {
        firebase.phraseHinzufügen(new Phrase(kategorieFürNeuePhrase, neuePhrase));
        neuLaden();
    }

    protected async override void OnInitialized()
    {
        alleHighscores = await firebase.getAlleHighscores();
        allePhrasen = await firebase.getAllePhrasen();
        allePhrasen.Sort((x, y) => x.kategorie.CompareTo(y.kategorie));
        alleHighscores.Sort((x, y) => y.kontostand.CompareTo(x.kontostand));
        StateHasChanged();
    }

    private async void highscoreLöschen(Spieler highscore)
    {
        if (highscore.datenbankID != null)
        {
            firebase.spielerLöschen(highscore);

        }
        neuLaden();
    }

    private async void phraseLöschen(Phrase phrase)
    {
        firebase.phraseLöschen(phrase);
        neuLaden();
    }

    private async void phraseBearbeiten(Phrase phrase)
    {
        popupBearbeitung.Anzeigen(phrase, this);

    }

    public async void neuLaden()
    {
        allePhrasen = await firebase.getAllePhrasen();
        allePhrasen.Sort((x, y) => x.kategorie.CompareTo(y.kategorie));
        alleHighscores = await firebase.getAlleHighscores();
        alleHighscores.Sort((x, y) => y.kontostand.CompareTo(x.kontostand));
        StateHasChanged();
    }


}
